
<div class="container p-5 card-box">
    <h3>Map</h3>
    <!--Row-->
    <div class="row" *ngIf="!loading">
        <div class="shadow-sm pt-3 mb-3 card col-sm-6 mt-2 map-card">
            <agm-map [latitude]="lat" [zoom]="zoom" [streetViewControl]="false" [longitude]="lon" [styles]="styles" class="map" >
                <agm-marker  [latitude]="lat" [longitude]="lon" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"></agm-marker>
              </agm-map>
        </div>
        <div class=" col-sm-6">
            <div class="col-sm-6"></div>
            <nav class="nav map-menu border-bottom-0">
                <a class="nav-link pl-3" routerLinkActive="active" routerLink="general-settings">General</a>
                <a class="nav-link pl-3" routerLinkActive="active" routerLink="themes">Themes</a>
                <a class="nav-link pl-3" routerLinkActive="active" routerLink="pins">Pin</a>
                <a class="nav-link" routerLinkActive="active" routerLink="customization">Customization</a>
                <a class="nav-link" routerLinkActive="active" routerLink="advanced">Advanced features</a>
            </nav>

            <div class="pl-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>