<div class="card mt-2">
    <div class="card-header">
        <h5>Google Maps API Key</h5>
    </div>
    <div class="card-body">
        <div><!--Substitute for form-->
            <!-- Grid row -->
            <div class="form-group row">
              <!-- Material input -->
              <label class="col-sm-3 col-form-label">Key</label>
              <div class="col-sm-9">
                <div class="md-form mt-0">
                  <input type="email" class="form-control form-control-line" placeholder="key">
                </div>
              </div>
            </div>
            <!-- Grid row -->
        </div>
    </div>
</div>