<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Google Maps API Key</h5>
    <br>
    <div class="card-content">
        <div><!--Substitute for form-->
            <!-- Grid row -->
            <div class="form-group row">
              <!-- Material input -->
              <label class="col-sm-3 col-form-label">Key</label>
              <div class="col-sm-9">
                <div class="md-form mt-0">
                  <input type="email" class="form-control form-control-line" placeholder="key">
                </div>
              </div>
            </div>
            <!-- Grid row -->
        </div>
    </div>
</div>