<mat-form-field>
    <mat-select 
    [formControl]="selectCtrl" 
    placeholder="Country" 
    #singleSelect
    >
      <mat-option>
        <ngx-mat-select-search 
        [formControl]="searchCtrl" 
        placeholderLabel="Find country..." 
        noEntriesFoundLabel="'no matching country found'"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country.name}} - {{country.code}}
      </mat-option>
    </mat-select>
</mat-form-field>