


<div class="container card-box p-5">
    <div class="row p-3">
        <h2 class="stick-left mr-auto d-inline-block">Account</h2>
        <div class="d-inline-block left-buttons pull-right">
            <button class="btn btn-outline-primary btn-md">Import from CSV</button>
            <button class="btn btn-primary paired-button-right" routerLink="/edit-store"><b>+</b></button>
        </div>
    </div>

    <!-- Table with panel -->
<div class="card card-cascade narrower">


    <div class="table-wrapper">
        <app-store-table *ngIf="establishments && establishments.length>0" [list]="establishments" [count]="totalCount" (getNewList)="refreshTable($event)"></app-store-table>
    </div>

  
  </div>
  <!-- Table with panel --> 
</div>
