<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Basic information</h5>
    <br>

    <div class="card-content">

        
        <div><!--Substitute for form-->
            <!-- Grid row -->
            <div class="form-group row">
              <!-- Material input -->
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <div class="md-form mt-0">
                  <input type="email" class="form-control form-control-line" placeholder="Name">
                </div>
              </div>
            </div>
            <!-- Grid row -->
          
            <!-- Grid row -->
            <div class="form-group row">
              <!-- Material input -->
              <label for="inputPassword3MD" class="col-sm-3 col-form-label">Last name</label>
              <div class="col-sm-9">
                <div class="md-form mt-0">
                  <input type="text" class="form-control form-control-line" id="inputPassword3MD" placeholder="Last name">
                </div>
              </div>
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label  class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <div class="md-form mt-0">
                    <div class="align-items-down"><span class="text-muted">email@email.com</span></div>
                    </div>
                </div>
            </div>

        
        </div>



    </div>



</div>
<!--Company info card-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Company info</h5>
    <br>
    <p class="text-muted mb-4"> This information will be used for billing info</p>
    <div class="card-content">

            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Company name</label>
                <div class="col-sm-9">
                  <div class="md-form mt-0">
                    <input type="text" class="form-control form-control-line" placeholder="Company name">
                  </div>
                </div>
            </div>

            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Address Line 1</label>
                <div class="col-sm-9">
                    <div class="md-form mt-0">
                    <input type="text" class="form-control form-control-line" placeholder="Address Line 1">
                    </div>
                </div>
            </div>

            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Address Line 2</label>
                <div class="col-sm-9">
                    <div class="md-form mt-0">
                    <input type="text" class="form-control form-control-line" placeholder="Address Line 2">
                    </div>
                </div>
            </div>


            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-5">
                    <div class="md-form mt-0">
                        <select class="custom-select custom-select-sm" ></select>
                    </div>
                </div>
            </div>


            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Postal code</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="text" class="form-control form-control-line" placeholder="Postal Code">
                    </div>
                </div>
            </div>


            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">NIF</label>
                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input type="password" class="form-control form-control-line" placeholder="NIF">
                    </div>
                </div>
            </div>

    </div>
    
</div>

<!--Newsletter subscription info card-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Newsletter subscription</h5>
    <br>
    <div class="card-content">
        <p class="text-muted mb-4"> Subscribe to the newsletter to recieve information, tips and news</p>
    </div>
</div>

<!--Change password card-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Change password</h5>
    <br>
    <div class="card-content">

            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Old password</label>
                <div class="col-sm-4">
                  <div class="md-form mt-0">
                    <input type="password" class="form-control form-control-line" placeholder="Old password">
                  </div>
                </div>
              </div>
              <!-- Grid row -->
              <br>
            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">New password</label>
                <div class="col-sm-4">
                <div class="md-form mt-0">
                    <input type="password" class="form-control form-control-line" placeholder="New password">
                </div>
                </div>
            </div>
            
            <!-- Grid row -->
            <div class="form-group row">
                <!-- Material input -->
                <label class="col-sm-3 col-form-label">Repeat new password</label>
                <div class="col-sm-4">
                    <div class="md-form mt-0">
                        <input type="password" class="form-control form-control-line" placeholder="Repeat new password">
                    </div>
                </div>
            </div>
            
            <!-- Grid row -->
            <div class="form-group row text-right">
                <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-md ">Change password</button>
                </div>
            </div>
    </div>
</div>

<!--Cancel account card-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Cancel account</h5>
    <br>
    <div class="card-content">
        <div class="form-group row text-right">
            <div class="col-sm-9">
                <p class="text-muted mb-4 align-middle"> Lorem ipsum dolor sit amet lala la la la le sa</p>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-outline-danger btn-md ">Cancel account</button>
            </div>
        </div>
    </div>
</div>






