@import '../../../../vars.scss';


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: $menu-bar-size; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $dark; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    z-index: 5;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    font-size: 125%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: $light;
}


img{
    max-width: 150px;
    border-left: auto;
    border-right: auto;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    font-size: 60%;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
