

<div class="container card-box p-5">

    <h5>Installation</h5>
    <br>
        <!--Company info card-->
    <div class="shadow-sm mb-3 bg-white card">
        <div class="card-header">
            <label for="exampleFormControlTextarea5">Embeded code</label>
        </div>
        <div class="card-body">
            <div class="form-group green-border-focus">
                <textarea class="form-control embed-code-input" id="exampleFormControlTextarea5" rows="3"></textarea>
            </div>
            <div class="form-group row text-left">
                <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-md ">Copyt to clipboard</button>
                </div>
            </div>
            <div class="form-group row text-left">
                <div class="col-sm-12">
                    <p clasS="text-muted  mb-0">Copy to clip lorem ipsum dolor</p>
                </div>
            </div>
        </div>
    </div>



    <div class="shadow-sm mb-3 bg-white  card">
        <div class="card-header">
            <label >Instructions for diferent platforms</label>
        </div>

        <div class="card-body">
            <div class="ml-4">
                <div class="row text-left">
                    <div class="col-sm-12">
                        <a href="#">Shopify installation guide</a>
                    </div>
                </div>
    
                <div class="row text-left">
                    <div class="col-sm-12">
                        <a href="#">Shopify installation guide</a>
                    </div>
                </div>
    
                <div class="row text-left">
                    <div class="col-sm-12">
                        <a href="#">Shopify installation guide</a>
                    </div>
                </div>
            </div>
            <div class="form-group row text-left mt-3">
                <div class="col-sm-12">
                    <p clasS=" mb-0">Don't see your platform? <a href="#">Click here</a></p>
                </div>
            </div>

        </div>

    </div>



    <div class="shadow-sm mb-3 bg-white  card">
        <div class="card-header">
            <label >General help</label>
        </div>
        <div class="form-group row text-left mt-3 card-body">
            <div class="col-sm-12">
                <p clasS=" mb-0">Don't see your platform? <a href="#">Click here</a></p>
            </div>
        </div>
    </div>


    <div class="shadow-sm mb-3 bg-white  card">
        <div class="card-header">
            <label >Still need help?</label>
        </div>
        <div class="form-group row text-left mt-3 card-body">
            <div class="col-sm-12">
                <p clasS=" mb-0">If you have issues with installation do not hesitate to ask for help using chat at the bottom right of this screen or drop us a note to<a href=" help@storemapper.co">help@app.com</a></p>
            </div>
        </div>
    </div>
</div>

