    <div class="py-1 px-5">
        <div class="row" *ngIf="!fileToUpload" >
            <p class="text-center mx-auto">Image upload</p>
        </div>
        <div *ngIf="!fileToUpload" class="row mt-5">
            <input  type="file" id="file" (change)="handleFileInput($event.target.files)" class="inputfile">
            <label for="file" class="btn btn-primary">Select image</label>
        </div>
        <div  *ngIf="fileToUpload && !error && !loading">
            <p>{{fileToUpload ? fileToUpload.name : null}}</p>
        </div>
        <button class="btn btn-primary mx-auto" (click)="uploadFile()" *ngIf="fileToUpload && !error && !loading">Upload</button>
        <span *ngIf="loading">loading...</span>
    </div>
