<div class="card animated fadeInDown ">
    <div class="card-header">
        dasd
    </div>
    <div class="card-body">
        <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>
    <button (click)="uploadFile()">GG</button>
    <div class="card-footer">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
    </div>
</div>