

<div class="container card-box p-5">
    <h2 class="stick-left  mb-4">Account</h2>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link nav-head-link" routerLink="general" routerLinkActive="active">General info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-head-link" routerLink="billing" routerLinkActive="active">Billing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-head-link" routerLink="api-keys" routerLinkActive="active">Api Keys</a>
        </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>