<!--Sliders-->
<form [formGroup]="slidersForm" class="card">
    <!--Labels-->
    <div class="card-header">
        <h5>Elements shown</h5>
    </div>

    <div class="card-body">
        <div>
            <label  class="small">Labels</label>
            <input type="range" class="custom-range" step="33" min="1" formControlName="labels">
            <p class="mb-1 text-center small"><i class="text-light"> &nbsp; Only show countries </i></p>
        </div>
        {{labelSliderValue}}
        <!--Landmarks-->
        <div>
            <label  class="small">Landmarks</label>
            <input type="range" class="custom-range" step="33" min="1" formControlName="landmarks">
            <p class="mb-1 text-center small"><i class="text-light"> &nbsp; Show only parks </i></p>
        </div>
        <!--Roads-->
        <div>
            <label class="small">Roads</label>
            <input type="range" class="custom-range" step="33" min="1" formControlName="roads">
            <p class="mb-1 text-center small"><i class="text-light"> &nbsp; Remove road labels</i></p>
        </div>
    </div>
</form>
