@import '../../../../../../vars.scss';

.custom-range{

}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px !important;
}
input[type=range]::-moz-range-track{
    height: 2px !important;
}
input[type=range]::-ms-track {
    height: 2px !important;
}

input[type=range]::-webkit-slider-thumb {
    top:10px;
    background-color: $base;
    margin-top: -7px !important;
}