<!--Company info card-->
<div class="card mt-2">
    <div class="card-header">
        <h5>Subscription</h5>
    </div>

    <div class="card-body">

        <!-- Grid row -->
        <div class="form-group row">
            <!-- Material input -->
            <label class="col-md-2">Current subscription</label>
            <div class="col-md-10">
                <span class="text-muted">subscription name - $9.99/month</span>
            </div>
        </div>

        <!-- Grid row -->
        <div class="form-group row">
            <br>
            <div class="col-md-12">
                <div class="align-items-down small"><span class="text-muted">renews 9/09/22</span></div>
            </div>
        </div>

        <!-- Grid row -->
        <div class="form-group row text-right">
            <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-md ">Change account</button>
            </div>
        </div>

    </div>
    
</div>

<!--Payment info-->
<div class="card mt-2">
    <div class="card-header">
        <h5>Payment method</h5>
    </div>

    <div class="card-body">
        <p class="text-muted mb-4"> *We are only accepting paypal subscriptions at the moment</p>
        <!-- Grid row -->
        <div class="form-group row">
            <!-- Material input -->
            <label class="col-md-2 col-form-label">Paypal account</label>
            <div class="col-md-10">
                <span class="text-muted">account@gmail.com</span>
            </div>
        </div>

        <div class="form-group row text-right">
            <div class="col-md-12">
            <button type="submit" class="btn btn-outline-danger btn-md paired-button-right">Remove payment method</button>
            <button type="submit" class="btn btn-primary btn-md paired-button-right">Change account</button>
            </div>
        </div>

    </div>
    
</div>

<!--Payment info-->
<div class="card mt-2">
    <div class="card-header">
        <h5>Invoices</h5>
    </div>
    <div class="card-body">


        <div class="form-group row ">
            <div class="col-md-6 text-left">
                <select class="custom-select custom-select-md" ></select>
            </div>
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-primary btn-md ">Download invoice</button>
            </div>
        </div>

    </div>
    
</div>




