<!--Company info card-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Subscription</h5>
    <br>
    <div class="card-content">

        <!-- Grid row -->
        <div class="form-group row">
            <!-- Material input -->
            <label class="col-sm-3 col-form-label">Current subscription</label>
            <div class="col-sm-9">
                <div class="md-form mt-0">
                    <div class="align-items-down"><span class="text-muted">subscription name - $9.99/month</span></div>
                </div>
            </div>
        </div>

        <!-- Grid row -->
        <div class="form-group row">
            <br>
            <div class="col-sm-12">
                <div class="align-items-down"><span class="text-muted">renews 9/09/22</span></div>
            </div>
        </div>

        <!-- Grid row -->
        <div class="form-group row text-right">
            <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-md ">Change account</button>
            </div>
        </div>

    </div>
    
</div>

<!--Payment info-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Payment method</h5>
    <br>
    <p class="text-muted mb-4"> *We are only accepting paypal subscriptions at the moment</p>
    <div class="card-content">

        <!-- Grid row -->
        <div class="form-group row">
            <!-- Material input -->
            <label class="col-sm-3 col-form-label">Paypal account</label>
            <div class="col-sm-9">
                <div class="md-form mt-0">
                    <div class="align-items-down"><span class="text-muted">email@email.com</span></div>
                </div>
            </div>
        </div>

        <div class="form-group row text-right">
            <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-danger btn-md paired-button-right">Remove payment method</button>
            <button type="submit" class="btn btn-primary btn-md paired-button-right">Change account</button>
            </div>
        </div>

    </div>
    
</div>

<!--Payment info-->
<div class="shadow-sm p-3 mb-3 bg-white rounded input-card">
    <h5>Invoices</h5>
    <br>
    <div class="card-content">


        <div class="form-group row ">
            <div class="col-sm-6 text-left">
                <select class="custom-select custom-select-sm" ></select>
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-primary btn-md ">Download invoice</button>
            </div>
        </div>

    </div>
    
</div>




