.theme-selector-button{

    margin-bottom: 10px;
    text-align: right;
    img{
        height: 100%; /*or 70%, or what you want*/
        width: 100%;
    }
}

.theme-selector-button:hover{
    cursor: pointer;
}