<form [formGroup]="initialValues">
    <!--Sliders-->
<div class="card" >
    <!--Labels-->
    <div class="card-header">
        <h5>Initial Values</h5>
    </div>
    <div class="card-body">
        <mat-radio-group
        aria-labelledby="radio-group-label"
        formControlName="location">
        <div>
            <div class="mb-4">
                <mat-radio-button class="radio-button" [value]="values.Closest">
                    Simple
                </mat-radio-button>
            </div>
        </div>
        <div>
            <div class="mb-4">
                <mat-radio-button class="radio-button" [value]="values.Store">
                    Store closest to user
                </mat-radio-button>
            </div>
        </div>
        <!-- Defined values-->
        <div>
            <div class="mb-4">
                <mat-radio-button class="radio-button" [value]="values.Defined">
                    Defined values
                </mat-radio-button>
                <br/>
            </div>
            <div *ngIf="initialValues.controls.location.value === values.Defined" class="pl-5">

                <mat-form-field class="w-25 mr-5">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="lat" placeholder="1.123">
                </mat-form-field>
                <mat-form-field class="w-25">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="lon" placeholder="1.123">
                </mat-form-field>

            </div>
        </div>
    </mat-radio-group>
    </div>
</div>

<!--Sliders-->
<div class="card mt-3">
    <!--Labels-->
    <div class="card-header">
        <h5>Initial Zoom</h5>
    </div>
    <div class="card-body">
        <div>
            <mat-slider min="2" max="20" step="0.2" value="1" formControlName="zoom" [thumbLabel]="true" ></mat-slider>
        </div>

    </div>
</div>

</form>
