@import 'vars.scss';
@import 'animations.scss';


//General
.base-color-body{
    background-color: $base;
}

.white-body{
    background-color: $light-grey;
}

a{
    color: $base;
}
a:hover{
    color: $dark;
}
a:focus{
    color: $darkest;
}
.login-logo{
    width: 240px;
}
.nav-head-link{
    padding-left: 0;
}
//Forms
.form-control:focus{
    outline: $base;
    box-shadow: $inputShadow;
}

.btn-primary, .btn-block {
    background-color: $base !important;
    border-color: $base !important;
}
.btn-outline-primary {
    color: $base !important;
    border-color: $base !important;
}

.btn-primary:hover, .btn-block:hover .btn-block:focus{
    background-color: $dark !important;
    border-color: $dark;
}


.btn-outline-primary:hover, .btn-outline-primary:focus {
    color: $dark !important;
    border-color: $dark !important;
}
.btn-outline-primary:active {
    color: $darkest !important;
    border-color: $darkest !important;
}

.btn-primary:focus, .btn-block:focus {
    background-color: $dark;
    border-color: $dark;
    outline-color: $darkest; 
    box-shadow: $inputShadow;
}

.form-control:focus {
    border-color: $dark;
}

.btn-primary:disabled, .btn-block:disabled {
    background-color: $light !important;
    border-color: $light;
}

.spinner-border{
    color: $base;
    margin-top: 24px;
    margin-bottom: 24px;
}

.substitute-btn-message{
    color: $base;
    margin-top: 24px;
    margin-bottom: 24px;
}

//Input Cards

.card-box{
    max-width: 1380px;
    margin-right: auto;
    margin-left: auto;
}

.card-content{
    padding-right: 50px;
    padding-left: 50px;
}
.form-control-line{
    border:none;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
}
.form-control-line:focus{
    outline: none;
    box-shadow:none;
    box-shadow: 0 0 4px 0 $inputShadow;
}
.align-items-down {
    position: absolute;
    bottom: 8px;
    left: 25px;
}

.paired-button-right{
    margin-left: 10px;
}
.paired-button-left{
    margin-right: 10px;
}

.custom-range{
    height: 2px;
}

//img
.map-template-img{
    max-width: 140px;
    max-height: 75px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
