


//Color Pallette
$darkest: #114B5f;
$dark: #1A936F;
$base: #88D498;
$light: #C6DABF;
$lightest: #F3E9D2;

$error: #d8000c;


//sizes
$menu-bar-size: 180px;

//effects
$inputShadow: inset 0 0px 0px $dark, 0 0 8px $base;;