<div class="text-center border border-light p-5">


    <p class="h4 mb-4">Reset your password</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" *ngIf="!success && !loading" [formControl]="email">


    <!-- Submit -->
    <button class="btn btn-info btn-block my-4" type="submit" *ngIf="!success && !loading" (click)="submit()" >Reset password</button>
    <div class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="text-success substitute-btn-message" *ngIf="success"><span> An e-mail has been sent to {{email.value}} with a link to reset your password</span></div>
    <div class="text-danger substitute-btn-message" *ngIf="emailNotFound"><span> No user with the e-mail {{email.value}} found</span></div>
    <div class="text-danger substitute-btn-message" *ngIf="serverError"><span> Something went wrong... Please try again in a few minutes</span></div>
    <div class="text-danger substitute-btn-message" *ngIf="emailError"><span> Invalid email</span></div>

    <!-- Go back -->

    <a routerLink="/login">Back to login</a>


</div>